body{
    background-color: black;
    color: white;
    font-family: "Delicious Handrawn", cursive;
    font-weight: 400;
    font-style: normal;    text-align: center;
    height: 100vh;
    overflow: hidden;
}
.title{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 30px;
    line-height: 2em;
    width: 40%;
    font-size: 1.5em;
    margin: auto;
    transition: all 0.5s ease;
    margin-top: 40px!important;
}
.title:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.out-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    /* background-color: rgba(255, 255, 255, 0.2); */
    padding: 15px;
    border-radius: 30px;
    line-height: 2em;
    width: 40%;
    font-size: 1.5em;
    margin: auto;
}
.card .player{
    font-weight: bold;
    background-color: rgba(240, 255, 255, 0.241);
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.card #turn{
    font-weight: bold;
    /* background-color: rgba(240, 255, 255, 0.241); */
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.all-squeres{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    transition: all 0.5s ease;
}
.square{
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    line-height: 2.5rem;
    font-weight: bold;
    font-size: 3rem;
    animation-duration: 2s; /* don't forget to set a duration! */
    animation: bounce; /* referring directly to the animation's @keyframe declaration */


}
.square:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
#reset{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 30px;
    width: 40%;
    font-size: 1.5em;
    margin: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 150px;
    position: relative;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
#reset.now{
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
        border-top: 6px dashed rgb(255, 251, 0);
    }
    25% {
        border-right: 6px dashed rgb(255, 251, 0);
    }
    50% {
        border-bottom: 6px dashed rgb(255, 251, 0);
    }
    75% {
        border-left: 6px dashed rgb(255, 251, 0);
    }
  }
@media (max-width: 600px) {
    .title{
        width: 70%;
    }
    .card{
        width: 70%;
    }
    .square{
        width: 100px;
        height: 100px;
    }
    #turn{
        font-size: 0.8em;
        padding: 0;
        margin: 0;
        line-height: 1em;
    }
}
@media (min-width: 600px) and (max-width: 1000px) {
    .card{
        width: 70%;
    }
    .square{
        width: 150px;
        height: 150px;
    }
}
@media (min-width: 1000px) {
    .card{
        width: 40%;
    }
    .title{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 5em;
    }
    .player{
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .square{
        width: 200px;
        height: 200px;
        font-size: 10rem;
        font-style: italic;
        line-height: 200px;
        margin: 5px;
    }
    .all-squeres{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
.retry{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 30px;
    width: 40%;
    font-size: 1.5em;
    margin: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 150px;
}
.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}